body{
	background-image: url(https://forum.affinity.serif.com/uploads/monthly_2017_08/Example.jpg.3198f1e9c7c7a5038e4179d6abc47404.jpg);
	background-position: right top;
	background-repeat: repeat-x;
	margin-left: 2em;
	position: relative;
	background-size: cover;
	
	
	
}

.App {
	background-image: url("/Users/brettshearin/workspace/collab-capstone/retro-80s-vhs-tape-video-game-intro-landscape-vector-arcade-wireframe-terrain-4k_bgfym6on__F0002.png");
	height: auto;
	width: auto;
	font-family: 'Orbitron', sans-serif;
	color: rgb(223, 36, 195);
	text-shadow: 1px 1px 2px rgb(249, 249, 249), 0 0 50px blue, 0 0 25px rgb(252, 252, 252);
	
}


.App {
	text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
input[ type = "checkbox"]{
  width: 70px;
	height: 40px;
	zoom: .5;
	-webkit-appearance: none;
	background: rgb(0, 0, 0);
	border-radius: 5px;
	border: 2px solid #555
}
input[ type = "checkbox"]:checked{
	background: rgb(223, 36, 195);

}

select{
	color: rgb(223, 36, 195);
	font-size: 1em;
	
}

select, input[type="color" ][list] {
	background-color: rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
}

h1{

}







@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}



/* // WEBPACK FOOTER //
// ./src/App.css */