body{
	background-image: url(https://forum.affinity.serif.com/uploads/monthly_2017_08/Example.jpg.3198f1e9c7c7a5038e4179d6abc47404.jpg);
	background-position: right top;
	background-repeat: repeat-x;
	margin-left: 2em;
	position: relative;
	background-size: cover;
	
	
	
}

.App  {
	background-image: url("/Users/brettshearin/workspace/collab-capstone/retro-80s-vhs-tape-video-game-intro-landscape-vector-arcade-wireframe-terrain-4k_bgfym6on__F0002.png");
	height: auto;
	width: auto;
	font-family: 'Orbitron', sans-serif;
	color: rgb(223, 36, 195);
	text-shadow: 1px 1px 2px rgb(249, 249, 249), 0 0 50px blue, 0 0 25px rgb(252, 252, 252);
	
}
h1 {
	font-family: 'Orbitron', sans-serif;
	color: rgb(223, 36, 195);
	text-shadow: 1px 1px 2px rgb(249, 249, 249), 0 0 50px blue, 0 0 25px rgb(252, 252, 252);
	text-align: center
}
label {
	font-family: 'Orbitron', sans-serif;
	color: rgb(223, 36, 195);
	text-shadow: 1px 1px 2px rgb(249, 249, 249), 0 0 50px blue, 0 0 25px rgb(252, 252, 252);
}
input{
	/* text-align: center;
	display: flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
}



button{
	background-color: black;
	color: rgb(223, 36, 195);
	font-family: 'Orbitron', sans-serif;
  user-select: none;
  display: inline-block;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
	/* display: block; */
    padding:1em 2em;
    text-transform: uppercase;
    font-weight: bold;
/* jjjjj */

}


.App {
	text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
input[ type = "checkbox"]{
  width: 70px;
	height: 40px;
	zoom: .5;
	-webkit-appearance: none;
	background: rgb(0, 0, 0);
	border-radius: 5px;
	border: 2px solid #555
}
input[ type = "checkbox"]:checked{
	background: rgb(223, 36, 195);

}

select{
	color: rgb(223, 36, 195);
	font-size: 1em;
	
}

select, input[type="color" ][list] {
	background-color: rgb(0, 0, 0);
	border-color: rgb(0, 0, 0);
}

/* NEW STUFF --> */








filterwrapper {
	position: absolute;
	z-index: -1;
	pointer-events: none;
	opacity: 0;
}

.svgtext {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.intro {
	margin-bottom: 3em;
}

hr {
	height: 0;
	border-bottom: solid #cccccc 1px;
}



.top-r,
.bot-r,
.top-g,
.bot-g {
	stroke: #ffffff;
}

.top-r {
	stroke-width: 100px;
	animation: topani 3.5s linear infinite;
}

.bot-r {
	stroke-width: 100px;
	animation: botani 4s linear infinite;
}

.top-g {
	stroke-width: 50px;
	animation: topani 4s linear reverse infinite;
}

.bot-g {
	stroke-width: 50%;
	animation: botani 3.5s linear reverse infinite;
}

/* mixin createRandomKeyframes( $numberOfKeys ) {
	$delta: round(100/$numberOfKeys);
	
	@for $i from 1 through $numberOfKeys {
			$time: ($i*$delta - random($delta)) +'%';
			#{$time} {
					stroke-width: random(200) + px;
			}
	}
} */

/* @keyframes topani {
	@include {createRandomKeyframes( 10 + random(10) )}
}

@keyframes botani {
	@include createRandomKeyframes( 10 + random(10) );
} */


#root .MIDISounds, .MIDISounds * {
	display: inline;
}

#root svg {
	display: none;
}




@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}



/* // WEBPACK FOOTER //
// ./src/App.css */