body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("/Users/brettshearin/workspace/collab-capstone/src/retro-80s-vhs-tape-video-game-intro-landscape-vector-arcade-wireframe-terrain-4k_bgfym6on__F0002.png")
}
